<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <meta charset="UTF-8" />
        <title>Bienvenido</title>
        
    
        <meta name="viewport" content="initial-scale=1.0" />
        
        <meta property="fb:app_id" content="" />
        <meta property="og:site_name" content="Bancomext" />
        <meta property="og:url" content="http://www.bancomext.com/" />
        <meta property="og:title" content="Bancomext" />
        
        <meta property="og:description" content="" />


        
        <!-- <script type="text/javascript">
                function mensajeElectoral(){// Ya existe una session
}
        </script> -->
        
        <link rel="alternate" type="application/rss+xml" title="Bancomext &raquo; Inicio RSS de los comentarios" href="http://www.bancomext.com/home/feed" />
<link rel='stylesheet' id='fonts-css'  href='http://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7COswald%3A400%2C700%7CMontserrat%3A400%2C700&#038;ver=4.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='icons-css'  href='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/css/font-awesome.min.css?ver=4.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='bxslider-css'  href='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/css/jquery.bxslider.css?ver=4.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='fancybox-css'  href='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/css/jquery.fancybox.css?ver=4.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='http://www.bancomext.com/wp-content/themes/bancomext/assets/frontend/css/screen.css?ver=1.1424805111' type='text/css' media='all' />
<link rel='stylesheet' id='print-css'  href='http://www.bancomext.com/wp-content/themes/bancomext/assets/frontend/css/print.css?ver=1.1418776074' type='text/css' media='print' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.bancomext.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.bancomext.com/wp-includes/wlwmanifest.xml" /> 
<link rel='canonical' href='http://www.bancomext.com/' />
<link rel='shortlink' href='http://www.bancomext.com/' />

    

    </head>
    
    
    <div id="mobileDetect"></div>
    
    <div id="topbar">
    <div class="container">
    
      
        
        
    
    </div>
</div>

<header id="header">
    <div class="container">
    
    <div >
      
      <img src="/assets/logo.png" width="170" height="160" border="2"  align="left">
       <img src="/assets/principal.jpg" width="700" height="160" border="2"  align="center">
      
    </div>
    </div>
</header>

<nav id="nav">
    <div class="container">

        <a href="#" id="mobileMenu"><i class="fa fa-bars"></i></a>
        <ul id="nav-ul">
            <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-11"><a href="http://www.bancomext.com/conoce-bancomext">Inicio</a>

            </li>
<li id="menu-item-148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-148"><a href="http://www.bancomext.com/empresas-que-apoyamos">Quienes somos</a>
<ul class="sub-menu">
    <li id="menu-item-149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-149"><a href="http://www.bancomext.com/empresas-que-apoyamos/exportadores">Fines</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="http://www.bancomext.com/conoce-bancomext/quienes-somos">Objetivos</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="http://www.bancomext.com/conoce-bancomext/quienes-somos">Directorio</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="http://www.bancomext.com/conoce-bancomext/quienes-somos">Miembros fundadores</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="http://www.bancomext.com/conoce-bancomext/quienes-somos">Cómo ser miembro</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="http://www.bancomext.com/conoce-bancomext/quienes-somos">Voluntarios</a></li>
    
</ul>
</li>
<li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-154"><a href="http://www.bancomext.com/productos-y-servicios">Empresas con licencia de uso</a>
<ul class="sub-menu">
    <li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href="http://www.bancomext.com/productos-y-servicios/credito">Empresas autorizadas</a></li>
    <li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href="http://www.bancomext.com/productos-y-servicios/credito">Reglamento de uso</a></li>
    
   
</ul>
</li>
<li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-166"><a href="http://www.bancomext.com/servicios-en-linea">Ferias</a>
<ul class="sub-menu">
    <li id="menu-item-3597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3597"><a href="http://www.bancomext.com/servicios-en-linea/credito">Ferias en Bolivia</a></li>
    <li id="menu-item-3597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3597"><a href="http://www.bancomext.com/servicios-en-linea/credito">Feria virtual</a></li>
    
</ul>
</li>
<li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-166"><a href="http://www.bancomext.com/servicios-en-linea">Galeria</a>
<ul class="sub-menu">
    <li id="menu-item-3597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3597"><a href="http://www.bancomext.com/servicios-en-linea/credito">Videos</a></li>
    <li id="menu-item-3597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3597"><a href="http://www.bancomext.com/servicios-en-linea/credito">Fotos</a></li>
    
</ul>
</li>

<li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-172"><a href="http://www.bancomext.com/transparencia">Contáctenos</a>
<ul class="sub-menu">
    <li id="menu-item-3592" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3592"><a href="http://www.bancomext.com/transparencia/normatividad-2">Registrese</a></li>
    
</ul>
</li>
<li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-172"><a href="http://www.bancomext.com/transparencia">Actividades</a>

</li>
<li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-172"><a href="http://www.bancomext.com/transparencia">Convenios</a>

</li>
            
        </ul>
    
    </div>
</nav>
<main role="main" class="main">
    <div class="container">
    
                
        <div id="main-slide-wrap">
            <div id="main-slide">
                <div class="main-slide">
                                        <div class="slide-item whole-click" >
                        <div class="caption">
                            <img src="/assets/laPaz.jpg">
                            <h2><a href="http://www.bancomext.com/comunicados/10015">La Paz de noche</a></h2>
                        </div>
                    </div>
                                        
                                        <div class="slide-item whole-click" >
                        <div class="caption">
                            <img src="/assets/cochabamba.jpg">
                            <h2><a href="http://www.bancomext.com/comunicados/9727">Cochabamba</a></h2>
                        </div>
                    </div>
                                    </div>
            </div>  
            <div id="main-slide-pager">
                                <a data-slide-index="0" href="/posts">
                    <strong>Foros Virtuales</strong>
                    Escenario de comunicacion, donde se propicia el debate, la concertación y el concenso de ideas             </a>
                                <a data-slide-index="1" href="/turismo">
                    <strong>Turismo</strong>
                    Diversa cultura, regiones geográficas, rica historia y gastronomía        </a>
                                <a data-slide-index="2" href="">
                    <strong>Pulso económico</strong>
                    Actualidad, análisis y opinión             </a>
                            </div>
        </div>
        
                
    </div>
</main>



<div id="accesos-slide">
    <div class="container">
        <div class="accesos-slide">
            
                       <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src="/assets/casoexito4.jpg">
                        <h2><a href="">CASOS DE ÉXITO</a></h2>
                                            </div>
                </div>
            </div>
                        <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src="/assets/casoexito2.jpg">
                        <h2><a href="">LANZAMIENTOS</a></h2>
                                            </div>
                </div>
            </div>
             <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src="/assets/casoexito.jpg">
                        <h2><a href="">REVISTA</a></h2>
                                            </div>
                </div>
            </div>
             <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src="/assets/casoexito3.jpg">
                        <h2><a href="">FERIA VIRTUAL</a></h2>
                                            </div>
                </div>
            </div>
                        
        </div>
    </div>
</div>

<div id="acceso-sectores-estrategicos">
    <div class="container">
        
        <h3>EMPRESAS MIEMBRO</h3>
        
            <style>
                #acceso-sectores-estrategicos ul li {
                    width: 50%;
                }
                @media (min-width: 48em){
                    #acceso-sectores-estrategicos ul li {
                        width: 11.111111111111%;
                    }
                }
            </style>
            <ul>            <li><a href="http://www.bancomext.com/sector/aeroespacial"><span class="icon-sector-hover" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-aeroespacial.png); "></span><span class="icon-sector" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-aeroespacial.png); background-color: #a63e96; "></span><strong>Aeroespacial</strong></a></li>
                    <li><a href="http://www.bancomext.com/sector/automotriz"><span class="icon-sector-hover" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-automotriz.png); "></span><span class="icon-sector" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-automotriz.png); background-color: #47b549; "></span><strong>Automotriz</strong></a></li>
                    <li><a href="http://www.bancomext.com/sector/electrico-electronico"><span class="icon-sector-hover" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-electrico.png); "></span><span class="icon-sector" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-electrico.png); background-color: #ec7924; "></span><strong>Eléctrico-Electrónico</strong></a></li>
                    <li><a href="http://www.bancomext.com/sector/energetico"><span class="icon-sector-hover" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-energetico.png); "></span><span class="icon-sector" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-energetico.png); background-color: #a8ce38; "></span><strong>Energético</strong></a></li>
                    <li><a href="http://www.bancomext.com/sector/maquilador"><span class="icon-sector-hover" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-maquilador.png); "></span><span class="icon-sector" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-maquilador.png); background-color: #ec1e24; "></span><strong>Maquila y naves industriales</strong></a></li>
                    <li><a href="http://www.bancomext.com/sector/minero-metalurgico"><span class="icon-sector-hover" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-minero.png); "></span><span class="icon-sector" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-minero.png); background-color: #4f84c4; "></span><strong>Minero-Metalúrgico</strong></a></li>
                    <li><a href="http://www.bancomext.com/sector/telecomunicaciones"><span class="icon-sector-hover" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-telecomunicaciones.png); "></span><span class="icon-sector" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-telecomunicaciones.png); background-color: #545da8; "></span><strong>Telecomunicaciones</strong></a></li>
                    <li><a href="http://www.bancomext.com/sector/transporte-y-logistica"><span class="icon-sector-hover" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-transporte.png); "></span><span class="icon-sector" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-transporte.png); background-color: #29b5c9; "></span><strong>Transporte y logística</strong></a></li>
                    <li><a href="http://www.bancomext.com/sector/turismo"><span class="icon-sector-hover" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-turismo.png); "></span><span class="icon-sector" style="background-image: url(http://www.bancomext.com/wp-content/uploads/2014/07/icon-turismo.png); background-color: #eccf24; "></span><strong>Turismo</strong></a></li>
        <ul>        
    </div>
</div>
            
    <div id="bottom">
    <div class="container">
        
        <nav>
            <div>
                <h3>Productos con sello</h3><ul class=""><li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">IMBA</a></li>
<li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">COBOCE</a></li>
<li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">PIL</a></li>
<li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">DURALIT</a></li>
<li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">CIMCO</a></li>

</ul>           </div>
            <div>
                <h3></h3><ul class=""><li id="menu-item-2441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2441"><a href="/producto1">IMBA</a></li>
<li id="menu-item-2440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2440"><a href="http://www.bancomext.com/productos-y-servicios/credito-pymex">COBOCE</a></li>
<li id="menu-item-2442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2442"><a href="http://www.bancomext.com/productos-y-servicios/cartas-de-credito">PIL</a></li>
<li id="menu-item-2443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2443"><a href="http://www.bancomext.com/productos-y-servicios/factoraje-internacional">DURALIT</a></li>
<li id="menu-item-2444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2444"><a href="http://www.bancomext.com/productos-y-servicios/mercados-financieros">CIMCO</a></li>

</ul>           </div>
            


<footer id="footer">
    <div class="container">
        
        <div class="texto-footer">
            <p>Teléfono:<br />
E-mail:<br />
Dirección: </p>
            <p>Última actualización: </p>
        </div>
         
    </div>
</footer>   
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js?ver=1.11.0'></script>
<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/js/jquery.easing.1.3.js?ver=1.0'></script>
<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/js/jquery.fancybox.pack.js?ver=1.0'></script>
<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/js/jquery.bxslider.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/js/bootstrap.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://www.bancomext.com/wp-includes/js/hoverIntent.min.js?ver=r7'></script>
<script type='text/javascript'>

</script>
<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/frontend/js/app.min.js?ver=1.1423172626'></script>
    </body>
</html>