<title>Bienvenido</title>
<body>

   <!-- main -->
    <div id="main" role="main">
      <!-- inner -->
      <div class="inner">
        
        
<!-- content -->
<div class="content">

  <!-- header -->
  <div class="header">
  
<!-- main-carousel home module -->
<div class="main-carousel home module">

  <!-- carousel -->
  <div class="carousel"  data-iframe-src="/javascripts/publi-home-carrousel_v1.html" data-autoslide="true">

    <!-- slides -->
    <ul class="slides">
      
      <!-- li -->
     
        
            <!-- li - ad -->
      
            
      
      <!-- li -->
      <li>
        <!-- media -->
        <div class="media">
          <div class="content">
            <div class="image">
              
                <img class="lazy" data-original="/assets/laPaz.jpg" src="/assets/laPaz.jpg" alt="Jenny Lopez" title="Jenny Lopez" width="960" height="450" />                <noscript><img itemprop="image" src="/assets/laPaz.jpg" alt="Jenny Lopez" title="Jenny Lopez" /></noscript>
             
            </div>
          </div>
        </div>
        <!-- /media -->

        <!-- header -->
        <div class="header">
          

          <h2 class="headline">La Paz vista de noche</h2>
        </div>
        <!-- /header -->

      </li>
      <!-- /li -->
        
            
      
      <!-- li -->
       <li>
        <!-- media -->
        <div class="media">
          <div class="content">
            <div class="image">
              
                <img class="lazy" data-original="/assets/potosi.jpg" src="/assets/potosi.jpg" alt="Jenny Lopez" title="Jenny Lopez" width="960" height="450" />                <noscript><img itemprop="image" src="/assets/potosi.jpg" alt="Jenny Lopez" title="Jenny Lopez" /></noscript>
             
            </div>
          </div>
        </div>
        <!-- /media -->

        <!-- header -->
        <div class="header">
          

          <h2 class="headline">Potosi</h2>
        </div>
        <!-- /header -->

      </li>
        
            
      
      <!-- li -->
        <li>
        <!-- media -->
        <div class="media">
          <div class="content">
            <div class="image">
              
                <img class="lazy" data-original="/assets/cochabamba.jpg" src="/assets/cochabamba.jpg" alt="Jenny Lopez" title="Jenny Lopez" width="960" height="450" />                <noscript><img itemprop="image" src="/assets/cochabamba.jpg" alt="Jenny Lopez" title="Jenny Lopez" /></noscript>
             
            </div>
          </div>
        </div>
        <!-- /media -->

        <!-- header -->
        <div class="header">
          

          <h2 class="headline">Cochabamba</h2>
        </div>
        <!-- /header -->

      </li>      <!-- /li -->
        
            
      
      <!-- li -->
      
            
          </ul>
    <!-- /slides -->

  </div>
  <!-- /carousel -->

</div>
<!-- /main-carousel home module -->

  </div>
  <!-- /header -->

          

</body>