<!doctype html> 
<!--[if lt IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 no-js"><![endif]-->
<!--[if IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 no-js"><![endif]-->
<!--[if IE 8]><html class="lt-ie10 lt-ie9 no-js"><![endif]-->
<!--[if IE 9]><html class="lt-ie10 no-js"><![endif]-->
<!--[if gt IE 9]><!--><html lang="es" class="no-js"><!--<![endif]--> 
<head>
<script src="http://cdn.vogue.mx/javascripts/detectmobile-20150216-24.js" type="text/javascript" /></script>


<link rel="canonical" href="http://www.vogue.mx/" >
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arapey" type="text/css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cardo:400,700" type="text/css">

<link rel="stylesheet" href="http://cdn.vogue.mx/stylesheets/min-20150325-24.css" type="text/css" />
<script src="http://cdn.vogue.mx/javascripts/min-20150408-27.js" type="text/javascript" /></script>
<title>Bienvenido</title>
<meta name="viewport" content="width=980">

</head>

<body class="home section">
<!-- Begin comScore Tag -->





<!-- End comScore Tag -->



  <!-- layout -->
  <div id="layout">
  
    <!-- fixed-nav -->

<!-- /fixed-nav -->

<!-- header -->
<div id="header" role="banner">
  <!-- header-top -->
  <div id="header-top" class="header">


        <!-- banner -->
    
    <!-- /banner -->
    
  </div>
  <!-- /header-top -->

  <!-- header-middle -->
  <div id="header-middle" class="main">
    
    <!-- branding -->
    <div >
      
      <img src="/assets/logo.png" width="170" height="160" border="2"  align="left">
       <img src="/assets/principal.jpg" width="700" height="160" border="2"  align="center">
      
    </div>
    <!-- /branding -->

    
<!-- specials -->

<!-- /specials -->


    <!-- search -->
    

    
<!-- social -->

<!-- /social -->
  </div>
  <!-- /header-middle -->

  <!-- header-bottom -->
  <div id="header-bottom" class="footer">

    
<!-- nav -->
<div class="nav" role="navigation">
  <ul class="first-level">
        <li><a href="/posts" >inicio</a></li>
        <li><a href="/belleza" >quienes somos</a></li>
        <li><a href="/pasarelas" >empresas </a></li>
        <li><a href="/suzy-menkes" >ferias</a></li>
        <li><a href="/joyas" >galeria</a></li>
        <li><a href="/vip" >contáctenos</a></li>
        <li><a href="/multimedia" >actividades</a></li>
        <li><a href="/blogs" >convenios</a></li>
       
  </ul>

    
</div>
<!-- /nav -->
  </div>
  <!-- /header-bottom -->

</div>
<!-- /header -->  
    
  <%=yield%>
 

<!-- hr -->
<hr>
<!-- /hr -->





















</div>
<!-- /aside -->

            </div>
      <!-- /inner -->
  
      
    </div>
    <!-- /main -->
    
    <!-- footer -->
<div id="footer" role="contentinfo">
  <!-- footer-top -->
  <div id="footer-top" class="header">
    <!-- inner -->
    <div class="inner">
      
<!-- nav -->
<div class="nav" role="navigation">
  <ul class="first-level">
        
    
  </ul>

    
</div>
<!-- /nav -->

    <!-- /inner -->
  </div>
  <!-- /footer-top -->



     

      
<!-- social -->
<div class="social">
   
    <ul>
    <li class="facebook"><a href="" title="Facebook" target="_blank"><span>Facebook</span></a></li>
    <li class="twitter"><a href="" title="Twitter" target="_blank"><span>Twitter</span></a></li>
     <li class="fa fa-youtube"><a href="" title="Youtube" target="_blank"><span>Youtube</span></a></li>
    
  </ul>
</div>
<!-- /social -->
    </div>
    <!-- /inner -->
  </div>
  <!-- /footer-middle -->
    
  <!-- footer-bottom -->
  
     

            <hr>
<div class="text-left">
  <address>
      <strong>Fundacion Hecho en Bolivia</strong><br>
      Direccion: <br>
      Email:<br>
      
      </address>
</div>

      <br>
      <!-- rights -->
      
      <div class="rights">© 2015 Fundación Hecho En Bolivia Todos los derechos reservados</div>
      <!-- /rights -->
      
      <!-- corporate -->
      

    
    <!-- /inner -->
  
  <!-- /footer-bottom -->
  
</div>

      
  </div>
  <!-- /layout -->

</body>
</html>