<!doctype html> 
<!--[if lt IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 no-js"><![endif]-->
<!--[if IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 no-js"><![endif]-->
<!--[if IE 8]><html class="lt-ie10 lt-ie9 no-js"><![endif]-->
<!--[if IE 9]><html class="lt-ie10 no-js"><![endif]-->
<!--[if gt IE 9]><!--><html lang="es" class="no-js"><!--<![endif]--> 
<head>
<script src="http://cdn.vogue.mx/javascripts/detectmobile-20150216-24.js" type="text/javascript" /></script>
<link rel="canonical" href="http://www.vogue.mx/" >
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arapey" type="text/css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cardo:400,700" type="text/css">

<link rel="stylesheet" href="http://cdn.vogue.mx/stylesheets/min-20150325-24.css" type="text/css" />
<script src="http://cdn.vogue.mx/javascripts/min-20150408-27.js" type="text/javascript" /></script>
<title>Bienvenido</title>
<meta name="viewport" content="width=980">

</head>

<body class="home section">
<!-- Begin comScore Tag -->





<!-- End comScore Tag -->



  <!-- layout -->
  <div id="layout">
  
    <!-- fixed-nav -->

<!-- /fixed-nav -->

<!-- header -->
<div id="header" role="banner">
  <!-- header-top -->
  <div id="header-top" class="header">


        <!-- banner -->
    
    <!-- /banner -->
    
  </div>
  <!-- /header-top -->

  <!-- header-middle -->
  <div id="header-middle" class="main">
    
    <!-- branding -->
    <div >
      <div class="logo"><h1>Vogeeeeeee AQUI PONER LOGO Y FOTOS</h1></div>
    </div>
    <!-- /branding -->

    
<!-- specials -->

<!-- /specials -->


    <!-- search -->
    

    
<!-- social -->
<div class="social">
    <ul>
    <li class="facebook"><a href="http://www.facebook.com/voguemexico?ref=ts" title="Facebook" target="_blank"><span>Facebook</span></a></li>
    <li class="twitter"><a href="http://twitter.com/VogueMexico" title="Twitter" target="_blank"><span>Twitter</span></a></li>
    
  </ul>
</div>
<!-- /social -->
  </div>
  <!-- /header-middle -->

  <!-- header-bottom -->
  <div id="header-bottom" class="footer">

    
<!-- nav -->
<div class="nav" role="navigation">
  <ul class="first-level">
        <li><a href="/moda" >inicio</a></li>
        <li><a href="/belleza" >quienes somos</a></li>
        <li><a href="/pasarelas" >empresas </a></li>
        <li><a href="/suzy-menkes" >ferias</a></li>
        <li><a href="/joyas" >galeria</a></li>
        <li><a href="/vip" >contáctenos</a></li>
        <li><a href="/multimedia" >actividades</a></li>
        <li><a href="/blogs" >convenios</a></li>
       
  </ul>

    
</div>
<!-- /nav -->
  </div>
  <!-- /header-bottom -->

</div>
<!-- /header -->  
    
  <%=yield%>
  <!-- body -->
  <div class="body">
    
    
<!-- last-news news module -->
<div class="last-news news module">

  

  <!-- col col-650 -->
  <div class="col col-650">
  
    <!-- cols cols-320 -->
    <div class="cols cols-320">

      <!-- list -->
      <div class="list">
        <ul>
          <!-- li -->
          <li>

            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">
                  <a href="/moda/magazine/articulos/carta-editorial-kelly-talamas-vogue-mexico-y-latinoamerica-junio-2015/5195" title="Latitud que mira al sol">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/carta_editorial_kelly_talamas_vogue_mexico_y_latinoamerica_junio_2015_5049_320x400.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Carta Editorial Kelly Talamas Vogue Mexico y Latinoamerica Junio 2015" title="Carta Editorial Kelly Talamas Vogue Mexico y Latinoamerica Junio 2015" width="320" height="400" />                    <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/carta_editorial_kelly_talamas_vogue_mexico_y_latinoamerica_junio_2015_5049_320x400.jpg" alt="Carta Editorial Kelly Talamas Vogue Mexico y Latinoamerica Junio 2015" title="Carta Editorial Kelly Talamas Vogue Mexico y Latinoamerica Junio 2015" /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->

                        <!-- header -->
            <div class="header">
              <h4 class="section-name"><a href="/moda/magazine" title="Magazine">Magazine</a></h4>
            </div>
            <!-- /header -->
            
            <!-- footer -->
            <div class="footer">
              <h3 class="headline"><a href="/moda/magazine/articulos/carta-editorial-kelly-talamas-vogue-mexico-y-latinoamerica-junio-2015/5195">Latitud que mira al sol</a></h3>

              <div class="tags"><ul><li><h3><a href="/tags/kelly-talamas/100172" rel="tag">Kelly Talamas</a></h3></ul></div>            </div>
            <!-- /footer -->

          </li>
          <!-- /li -->
          <!-- li -->
          <li>

            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">
                  <a href="/moda/tendencias/articulos/vestidos-de-verano/5202" title="Espíritu estival: vestidos de verano">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/vestidos_de_verano_6645_320x400.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Vestidos de verano" title="Vestidos de verano" width="320" height="400" />                   <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/vestidos_de_verano_6645_320x400.jpg" alt="Vestidos de verano" title="Vestidos de verano" /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->

                        <!-- header -->
            <div class="header">
              <h4 class="section-name"><a href="/moda/tendencias" title="Tendencias">Tendencias</a></h4>
            </div>
            <!-- /header -->
            
            <!-- footer -->
            <div class="footer">
              <h3 class="headline"><a href="/moda/tendencias/articulos/vestidos-de-verano/5202">Espíritu estival: vestidos de verano</a></h3>

              <div class="tags"><ul><li><h3><a href="/tags/verano/100257" rel="tag">Verano</a></h3>,&nbsp;</li><li><h3><a href="/tags/vestidos-primavera/100098" rel="tag">Vestidos primavera</a></h3></ul></div>           </div>
            <!-- /footer -->

          </li>
          <!-- /li -->
        </ul>
      </div>
      <!-- /list -->
    
    </div>
    <!-- /cols cols-320 -->
    
  </div>
  <!-- /col col-650 -->

</div>
<!-- /last-news news module -->

<!-- hr -->
<hr>
<!-- /hr -->




    
<!-- style-file module -->
<div class="style-file module">

  <p class="heading"><a href="/vip/style-file" title="Style File">Style File</a></p>

  <!-- col col-650 -->
  <div class="col col-650">
    
    <!-- cols -->
    <div class="cols">
    
      <!-- col col-186 -->
      <div class="col col-186">

        <!-- list -->
        <div class="list">
          <ul>
                        <!-- li -->
            <li>
              <!-- media -->
              <div class="media">
                <div class="content">
                  <div class="image">
                    <a href="/vip/style-file/galerias/sienna-miller/4137/image/1279499"  title="Sienna Miller">
                      <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201520/sienna_miller_1714_186x186.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Sienna Miller" title="Sienna Miller" width="186" height="186" />                      <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201520/sienna_miller_1714_186x186.jpg" alt="Sienna Miller" title="Sienna Miller" /></noscript>
                    </a>
                  </div>
                </div>
              </div>
              <!-- /media -->

              <!-- header -->
              <div class="header">
                <h3 class="headline"><a href="/vip/style-file/galerias/sienna-miller/4137/image/1279499" >Sienna Miller</a></h3>
              </div>
              <!-- /header -->
            </li>
            <!-- /li -->
                        <!-- li -->
            <li>
              <!-- media -->
              <div class="media">
                <div class="content">
                  <div class="image">
                    <a href="/vip/style-file/galerias/blake-lively/4090/image/1277325"  title="Blake Lively">
                      <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201517/blake_lively_960011418_186x186.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Blake Lively" title="Seducción imprescindible " width="186" height="186" />                     <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201517/blake_lively_960011418_186x186.jpg" alt="Blake Lively" title="Seducción imprescindible " /></noscript>
                    </a>
                  </div>
                </div>
              </div>
              <!-- /media -->

              <!-- header -->
              <div class="header">
                <h3 class="headline"><a href="/vip/style-file/galerias/blake-lively/4090/image/1277325" >Blake Lively</a></h3>
              </div>
              <!-- /header -->
            </li>
            <!-- /li -->
                      </ul>
        </div>
        <!-- /list -->
      
      </div>
      <!-- /col col-186 -->
    
      <!-- col col-260 -->
      <div class="col col-260">

        <!-- list -->
        <div class="list">
          <ul>
            <!-- li -->
            <li>
              <!-- media -->
              <div class="media">
                <div class="content">
                  <div class="image">
                    <a href="/vip/style-file/galerias/amanda-wellsh/4166/image/1280679" class="new-window" title="Amanda Wellsh">
                      <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/amanda_wellsh_5496_260x260.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Amanda Wellsh" title="Amanda Wellsh" width="260" height="260" />                      <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/amanda_wellsh_5496_260x260.jpg" alt="Amanda Wellsh" title="Amanda Wellsh" /></noscript>
                    </a>
                  </div>
                </div>
              </div>
              <!-- /media -->

              <!-- header -->
              <div class="header">
                <h3 class="headline"><a href="/vip/style-file/galerias/amanda-wellsh/4166/image/1280679" class="new-window">Amanda Wellsh</a></h3>
              </div>
              <!-- /header -->
            </li>
            <!-- /li -->
          </ul>
        </div>
        <!-- /list -->
      
      </div>
      <!-- /col col-260 -->
    
      <!-- col col-186 -->
      <div class="col col-186">

        <!-- list -->
        <div class="list">
          <ul>
            <!-- li -->
            <li>
              <!-- media -->
              <div class="media">
                <div class="content">
                  <div class="image">
                    <a href="/vip/style-file/galerias/kate-king/4101/image/1277707" class="new-window" title="Kate King">
                      <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201518/kate_king_8152_186x186.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Kate King" title="Kate King" width="186" height="186" />                      <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201518/kate_king_8152_186x186.jpg" alt="Kate King" title="Kate King" /></noscript>
                    </a>
                  </div>
                </div>
              </div>
              <!-- /media -->

              <!-- header -->
              <div class="header">
                <h3 class="headline"><a href="/vip/style-file/galerias/kate-king/4101/image/1277707" class="new-window">Kate King</a></h3>
              </div>
              <!-- /header -->
            </li>
            <!-- /li -->
                        <!-- li -->
            <li>
              <!-- media -->
              <div class="media">
                <div class="content">
                  <div class="image">
                    <a href="/vip/style-file/galerias/miranda-kerr-musa-madre-y-top/1631/image/1274150" class="new-window" title="Miranda Kerr">
                      <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201517/miranda_kerr_musa_madre_y_top_4635_186x186.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Miranda Kerr: musa, madre y top" title="Miranda Kerr: musa, madre y top" width="186" height="186" />                      <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201517/miranda_kerr_musa_madre_y_top_4635_186x186.jpg" alt="Miranda Kerr: musa, madre y top" title="Miranda Kerr: musa, madre y top" /></noscript>
                    </a>
                  </div>
                </div>
              </div>
              <!-- /media -->

              <!-- header -->
              <div class="header">
                <h3 class="headline"><a href="/vip/style-file/galerias/miranda-kerr-musa-madre-y-top/1631/image/1274150" class="new-window">Miranda Kerr</a></h3>
              </div>
              <!-- /header -->
            </li>
            <!-- /li -->
                      </ul>
        </div>
        <!-- /list -->
      
      </div>
      <!-- /col col-186 -->
    
    </div>
    <!-- /cols -->
    
  </div>
  <!-- /col col-650 -->

</div>
<!-- /style-file module -->

<!-- hr -->
<hr>
<!-- /hr -->

    
<!-- videos-wall module -->
<div class="videos-wall module">

  <p class="heading"><a href="/multimedia/video" title="Videos">Videos</a></p>

  <!-- col col-650 -->
  <div class="col col-650">

    <!-- list -->
    <div class="list">
      <ul>

        <!-- li -->
        <li>
          <!-- media -->
          <div class="media">
            <div class="content">
              <div class="video">
                
    <script type="text/javascript">
      if( typeof(script_array_bc_config) == "undefined" )
        var script_array_bc_config = new Array();
      send_script_array_4232170908001 = script_array_bc_config[script_array_bc_config.length] = {"param":{"playerID":"807050015001","playerKey":"AQ~~,AAAAr4PDBWk~,v7PInonjLv9PguYUzRL87qWKYTBPtJX3","width":650,"height":366,"@videoPlayer":"4232170908001","isUI":"false","isVid":"true","dynamicStreaming":"true","autoStart":"true","bgcolor":"#FFFFFF","linkBaseURL":"http:\/\/www.vogue.mx\/multimedia\/video\/pasarelas\/videos\/dior-crucero-2016\/1078","wmode":"transparent","additionalPlaylist":"2080960934001"},"config":{"mask":"<img src=\"http:\/\/cdn.vogue.mx\/uploads\/images\/thumbs\/201520\/dior_crucero_2016_6852_650x366.jpg\" height=\"366\" width=\"650\" \/>","object_id":"myExperience1706961856001"}}
    </script>
    <a id="link_4232170908001" onclick="openvideo_config(this, send_script_array_4232170908001)" href="javascript:;" style="width: 650px; height: 366px; position: relative; display:block;">
    <img src="http://cdn.vogue.mx/uploads/images/thumbs/201520/dior_crucero_2016_6852_650x366.jpg" height="366" width="650" /><label id="mosca"></label></a><style type='text/css'>
              #link_4232170908001 label#mosca { display: block; width: 650px; height: 366px; position: absolute; z-index:1;  top: 0; left: 0; cursor: pointer; background: url(/images/player-sprite_v2.png) no-repeat 0 0; background-size: 650px 732px; -webkit-background-size: auto auto}
              #link_4232170908001 label#mosca:hover { background: url(/images/player-sprite_v2.png) no-repeat 0 100%; background-size: 650px 732px; -webkit-background-size: auto auto}
            </style>              </div>
            </div>
          </div>
          <!-- /media -->

          <!-- header -->
          <div class="header">
                        <h4 class="section-name"><a href="/multimedia/video/pasarelas" title="Pasarelas">Pasarelas</a></h4>
                        <h3 class="headline"><a href="/multimedia/video/pasarelas/videos/dior-crucero-2016/1078">Dior Cruise 2016</a></h3>
          </div>
          <!-- /header -->
        </li>
        <!-- /li -->
        
      </ul>
    </div>
    <!-- /list -->
    
  </div>
  <!-- /col col-650 -->

</div>
<!-- /videos-wall module -->

  </div>
  <!-- /body -->

</div>
<!-- /content -->

<!-- aside -->
<div class="aside">
  
<!-- blockquote module -->
<div class="blockquote module">

  <!-- content -->
  <div class="content">
    <!-- blockquote -->
    <blockquote>
      <p>
        <span class="open-quotes">“</span>
                El estilo es una forma de decir quién eres sin tener que hablar”              </p>

      <!-- metadata -->
      <div class="metadata">
                  <p class="author">
                        <span class="name">Christian Dior</span>
                        
                      </p>
              </div>
      <!-- /metadata -->
          </blockquote>
    <!-- /blockquote -->
    
  </div>
  <!-- /content -->

</div>
<!-- /blockquote module -->

<!-- hr bold -->
<hr class="bold">
<!-- /hr bold -->




<!-- banner module -->
<div class="banner module">

  <div class="box ads" id="Autopromo1">
    <!-- banner saved for key /ads/1010/24/10124/100014/navigation/default --><!-- begin ad tag == tile=2 sect= == Autopromo1 == Boton VOG2 -->
<script language="JavaScript" type="text/javascript">

 if (typeof ord=='undefined') {ord=Math.random()*10000000000000000;}
 document.write('<script language="JavaScript" src="http://ad.mx.doubleclick.net/N5574/adj/mx.n5574.vogue/home;tile=2;dcopt=ist;sz=300x60;ord=' + ord + '?" type="text/javascript"><\/script>');


</script><noscript><a href="http://ad.mx.doubleclick.net/N5574/jump/mx.n5574.vogue/home;tile=2;dcopt=ist;sz=300x60;ord=123456789?" target="_blank"><img src="http://ad.mx.doubleclick.net/N5574/ad/mx.n5574.vogue/home;tile=2;dcopt=ist;sz=300x60;ord=123456789?" width="300" height="60" border="0" alt=""></a></noscript>
<!-- End ad tag -->
  </div>

</div>
<!-- /banner module -->



<!-- banner module -->
<div class="banner module">

  <p class="title">Publicidad</p>

  <div class="sky ads" id="Sky_1">
    <!-- banner saved for key /ads/1010/24/10124/100011/navigation/default --><!-- begin ad tag == tile=3 sect= == Sky_1 == Sky VOG2 -->
<script language="JavaScript" type="text/javascript">

 if (typeof ord=='undefined') {ord=Math.random()*10000000000000000;}
 document.write('<script language="JavaScript" src="http://ad.mx.doubleclick.net/N5574/adj/mx.n5574.vogue/home;tile=3;dcopt=ist;sz=300x250;ord=' + ord + '?" type="text/javascript"><\/script>');


</script><noscript><a href="http://ad.mx.doubleclick.net/N5574/jump/mx.n5574.vogue/home;tile=3;dcopt=ist;sz=300x250;ord=123456789?" target="_blank"><img src="http://ad.mx.doubleclick.net/N5574/ad/mx.n5574.vogue/home;tile=3;dcopt=ist;sz=300x250;ord=123456789?" width="300" height="250" border="0" alt=""></a></noscript>
<!-- End ad tag -->
  </div>

  <div class="sky ads" id="Sky_2">
    <!-- banner saved for key /ads/1010/24/10124/100012/navigation/default --><!-- begin ad tag == tile=4 sect= == Sky_2 == Sky 2 VOG2 -->
<script language="JavaScript" type="text/javascript">

 if (typeof ord=='undefined') {ord=Math.random()*10000000000000000;}
 document.write('<script language="JavaScript" src="http://ad.mx.doubleclick.net/N5574/adj/mx.n5574.vogue/home;tile=4;dcopt=ist;sz=300x251;ord=' + ord + '?" type="text/javascript"><\/script>');


</script><noscript><a href="http://ad.mx.doubleclick.net/N5574/jump/mx.n5574.vogue/home;tile=4;dcopt=ist;sz=300x251;ord=123456789?" target="_blank"><img src="http://ad.mx.doubleclick.net/N5574/ad/mx.n5574.vogue/home;tile=4;dcopt=ist;sz=300x251;ord=123456789?" width="300" height="251" border="0" alt=""></a></noscript>
<!-- End ad tag -->
  </div>

</div>
<!-- /banner module -->


<!-- hr bold -->
<hr class="bold">
<!-- /hr bold -->


<!-- horoscope module -->
<div class="horoscope module">

  <!-- header -->
  <div class="header">
    <p class="heading"><a href="/horoscopos">Horóscopo <strong>Vogue</strong></a></p>
  </div>
  <!-- /header -->

  <!-- content -->
  <div class="content">

    <!-- media -->
    <div class="media">
      <div class="content">
        <div class="image">
          <a href="/horoscopos/articulos/horoscopo-tauro/4229"><img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201439/horoscopo_tauro_9438_262x262.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Horoscopo Tauro" title="Horoscopo Tauro" width="262" height="262" /></a>
          <noscript><a href="/horoscopos/articulos/horoscopo-tauro/4229"><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201439/horoscopo_tauro_9438_262x262.jpg" alt="Horoscopo Tauro" title="Horoscopo Tauro" /></a></noscript>
        </div>
      </div>
    </div>
    <!-- /media -->

    <p class="name"><a href="/horoscopos/articulos/horoscopo-tauro/4229">Tauro</a></p>
        <p class="period"><a href="/horoscopos/articulos/horoscopo-tauro/4229">Del 21 de abril al 21 de mayo</a></p>
      </div>
  <!-- /content -->

</div>
<!-- /horoscope module -->
</div>
<!-- /aside -->

<!-- content -->
<div class="content">

  <!-- header -->
  <div class="header">

    
<!-- hr -->
<hr>
<!-- /hr -->

<!-- best-pictures module -->
<div class="best-pictures module">

  <p class="heading">Las mejor imágenes</p>
  
  <!-- col col-960 -->
  <div class="col col-960">

    <!-- cols -->
    <div class="cols">
            <!-- col col-384 -->
      <div class="col col-384">

        <!-- list -->
        <div class="list">
          <ul>
            <!-- li -->
            <li>
              <!-- media -->
              <div class="media">
                <div class="content">
                  <div class="image">
                    <a href="/belleza/galerias/cabello-en-la-playa/4176/image/1281264"  title="Melena perfecta en la playa">
                      <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/cabello_en_la_playa_5832_384x480.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Cabello en la playa" title="Farrah Fawcett" width="384" height="480" />                     <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/cabello_en_la_playa_5832_384x480.jpg" alt="Cabello en la playa" title="Farrah Fawcett" /></noscript>
                      <span class="caption"><span>Melena perfecta en la playa</span></span>
                    </a>
                  </div>
                </div>
              </div>
              <!-- /media -->
            </li>
            <!-- /li -->
          </ul>
        </div>
        <!-- /list -->
      
      </div>
      <!-- /col col-384 -->
            <!-- col col-576 -->
      <div class="col col-576">

        <!-- cols cols-192 -->
        <div class="cols cols-192">

          <!-- list -->
          <div class="list">
            <ul>
                            <!-- li -->
              <li>
                <!-- media -->
                <div class="media">
                  <div class="content">
                    <div class="image">
                      <a href="/moda/tendencias/galerias/alpargatas-1/4175/image/1281248"  title="Alpargatas: el auténtico zapato del verano">
                        <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/alpargatas__7701_192x240.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="alpargatas " title="alpargatas " width="192" height="240" />                        <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/alpargatas__7701_192x240.jpg" alt="alpargatas " title="alpargatas " /></noscript>
                        <span class="caption"><span>Alpargatas: el auténtico zapato del verano</span></span>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- /media -->
              </li>
              <!-- /li -->
                            <!-- li -->
              <li>
                <!-- media -->
                <div class="media">
                  <div class="content">
                    <div class="image">
                      <a href="/moda/galerias/mercedes-benz-fashion-weekend-monterrey/4173/image/1280955"  title="Descubre Fashion Weekend Monterrey">
                        <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/mercedes_benz_fashion_weekend_monterrey_5099_192x240.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Mercedes Benz Fashion Weekend Monterrey" title="Mercedes Benz Fashion Weekend Monterrey" width="192" height="240" />                        <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/mercedes_benz_fashion_weekend_monterrey_5099_192x240.jpg" alt="Mercedes Benz Fashion Weekend Monterrey" title="Mercedes Benz Fashion Weekend Monterrey" /></noscript>
                        <span class="caption"><span>Descubre Fashion Weekend Monterrey</span></span>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- /media -->
              </li>
              <!-- /li -->
                            <!-- li -->
              <li>
                <!-- media -->
                <div class="media">
                  <div class="content">
                    <div class="image">
                      <a href="/moda/estilo-vogue/galerias/ximena-sarinana-y-nike-sacai/4172/image/1280946"  title="Ximena Sariñana + Nike X Sacai">
                        <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/ximena_sarinana_y_nike_sacai_5343_192x240.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Ximena Sariñana y Nike Sacai" title="Ximena Sariñana y Nike Sacai" width="192" height="240" />                       <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/ximena_sarinana_y_nike_sacai_5343_192x240.jpg" alt="Ximena Sariñana y Nike Sacai" title="Ximena Sariñana y Nike Sacai" /></noscript>
                        <span class="caption"><span>Ximena Sariñana + Nike X Sacai</span></span>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- /media -->
              </li>
              <!-- /li -->
                            <!-- li -->
              <li>
                <!-- media -->
                <div class="media">
                  <div class="content">
                    <div class="image">
                      <a href="/moda/estilo-vogue/galerias/faith-connexion-y-55-croisette-street-art-tour/4171/image/1280835"  title="Street Art Tour por Faith Connexion ">
                        <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/faith_connexion_y_55_croisette_street_art_tour_8771_192x240.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Faith Connexion y 55 Croisette Street Art Tour" title="Faith Connexion y 55 Croisette Street Art Tour" width="192" height="240" />                       <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/faith_connexion_y_55_croisette_street_art_tour_8771_192x240.jpg" alt="Faith Connexion y 55 Croisette Street Art Tour" title="Faith Connexion y 55 Croisette Street Art Tour" /></noscript>
                        <span class="caption"><span>Street Art Tour por Faith Connexion </span></span>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- /media -->
              </li>
              <!-- /li -->
                            <!-- li -->
              <li>
                <!-- media -->
                <div class="media">
                  <div class="content">
                    <div class="image">
                      <a href="/moda/galerias/flats-en-la-alfombra-roja/4170/image/1280733"  title="¿Flats en la red carpet?">
                        <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/flats_en_la_alfombra_roja_8999_192x240.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Flats en la alfombra roja" title="Flats en la alfombra roja" width="192" height="240" />                        <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/flats_en_la_alfombra_roja_8999_192x240.jpg" alt="Flats en la alfombra roja" title="Flats en la alfombra roja" /></noscript>
                        <span class="caption"><span>¿Flats en la red carpet?</span></span>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- /media -->
              </li>
              <!-- /li -->
                            <!-- li -->
              <li>
                <!-- media -->
                <div class="media">
                  <div class="content">
                    <div class="image">
                      <a href="/moda/estilo-vogue/galerias/iconos-femeninos-en-el-cine/4169/image/1280710"  title="De la vida real a la gran pantalla">
                        <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/iconos_femeninos_en_el_cine_487228004_192x240.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Iconos femeninos en el cine" title="Elizabeth Taylor como Cleopatra" width="192" height="240" />                       <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/iconos_femeninos_en_el_cine_487228004_192x240.jpg" alt="Iconos femeninos en el cine" title="Elizabeth Taylor como Cleopatra" /></noscript>
                        <span class="caption"><span>De la vida real a la gran pantalla</span></span>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- /media -->
              </li>
              <!-- /li -->
                          </ul>
          </div>
          <!-- /list -->
        
        </div>
        <!-- /cols cols-192 -->

      </div>
      <!-- /col col-576 -->
    
    </div>
    <!-- /cols -->

  </div>
  <!-- /col col-960 -->

</div>
<!-- /best-pictures module -->

<!-- hr -->
<hr>
<!-- /hr -->

  </div>
  <!-- /header -->
  
  <!-- body -->
  <div class="body">

    
<!-- street-fashion module -->
<div class="street-fashion module">

  <p class="heading"><a href="/moda/moda-en-la-calle" title="Moda en la calle">Moda en la <strong>calle</strong></a></p>
  
  <!-- col col-650 -->
  <div class="col col-650">

    <!-- cols cols-209 -->
    <div class="cols cols-209">

      <!-- list -->
      <div class="list">
        <ul>
                    <!-- li -->
          <li>
            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">
                  <a href="/moda/moda-en-la-calle/galerias/street-style-inspiracion-latina/4040/image/1276868" class="new-window" title="Dosis de inspiración latina">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201516/moda_en_las_calles_de_mexico_47275732_192x240.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="moda en las calles de mexico" title="Texturas obsesivas" width="192" height="240" />                   <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201516/moda_en_las_calles_de_mexico_47275732_192x240.jpg" alt="moda en las calles de mexico" title="Texturas obsesivas" /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->

            <!-- header -->
            <div class="header">
              <h3 class="headline"><a href="/moda/moda-en-la-calle/galerias/street-style-inspiracion-latina/4040/image/1276868" class="new-window">Dosis de inspiración latina</a></h3>
            </div>
            <!-- /header -->
          </li>
          <!-- /li -->
                    <!-- li -->
          <li>
            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">
                  <a href="/moda/moda-en-la-calle/galerias/street-style-en-pareja/3998/image/1273255" class="new-window" title="Mejores amigos en el Street Style">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201512/street_style_en_pareja_491235813_192x240.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="street style en pareja" title="Chiara Ferragni y Candela Novembre" width="192" height="240" />                    <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201512/street_style_en_pareja_491235813_192x240.jpg" alt="street style en pareja" title="Chiara Ferragni y Candela Novembre" /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->

            <!-- header -->
            <div class="header">
              <h3 class="headline"><a href="/moda/moda-en-la-calle/galerias/street-style-en-pareja/3998/image/1273255" class="new-window">Mejores amigos en el Street Style</a></h3>
            </div>
            <!-- /header -->
          </li>
          <!-- /li -->
                    <!-- li -->
          <li>
            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">
                  <a href="/moda/moda-en-la-calle/galerias/street-style-primavera/4091/image/1277332"  title="Inspiración primaveral">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201517/street_style_primavera_6940_192x240.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Street style primavera" title="Street style primavera" width="192" height="240" />                   <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201517/street_style_primavera_6940_192x240.jpg" alt="Street style primavera" title="Street style primavera" /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->

            <!-- header -->
            <div class="header">
              <h3 class="headline"><a href="/moda/moda-en-la-calle/galerias/street-style-primavera/4091/image/1277332" >Inspiración primaveral</a></h3>
            </div>
            <!-- /header -->
          </li>
          <!-- /li -->
                  </ul>
      </div>
      <!-- /list -->
    
    </div>
    <!-- /cols cols-209 -->
  
  </div>
  <!-- /col col-650 -->

</div>
<!-- /street-fashion module -->

<!-- hr -->
<hr>
<!-- /hr -->

    
<!-- more-news news module -->
<div class="more-news news module">

  <p class="heading"><a href="/lo-ultimo" title="Más noticias">Más <strong>noticias</strong></a></p>

  <!-- col col-650 -->
  <div class="col col-650">
  
    <!-- cols cols-320 -->
    <div class="cols cols-320">

      <!-- list -->
      <div class="list">
        <ul>
                    <!-- li -->
          <li>
            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">                 
                  <a href="/vip/look-de-la-semana/galerias/looks-de-la-semana-1-a-7-de-junio/4180/image/1281405" class="new-window" title="Las mejor vestidas de la semana">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201523/looks_de_la_semana_1_a_7_de_junio_6899_320x400.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Looks de la semana 1 a 7 de junio" title="Looks de la semana 1 a 7 de junio" width="320" height="400" />                    <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201523/looks_de_la_semana_1_a_7_de_junio_6899_320x400.jpg" alt="Looks de la semana 1 a 7 de junio" title="Looks de la semana 1 a 7 de junio" /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->
                        <!-- header -->
            <div class="header">
              <h4 class="section-name"><a href="/vip/look-de-la-semana" title="Look de la semana">Look de la semana</a></h4>
            </div>
            <!-- /header -->
                        <!-- footer -->
            <div class="footer">
              <h3 class="headline"><a href="/vip/look-de-la-semana/galerias/looks-de-la-semana-1-a-7-de-junio/4180/image/1281405" class="new-window">Las mejor vestidas de la semana</a></h3>

              <div class="tags"><ul><li><h3><a href="/tags/red-carpet/100196" rel="tag">Red Carpet</a></h3>,&nbsp;</li><li><h3><a href="/tags/top-looks/100480" rel="tag">Top Looks</a></h3></ul></div>
            </div>
            <!-- /footer -->

          </li>
          <!-- /li -->
                    <!-- li -->
          <li>
            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">                 
                  <a href="/agenda/cultura/articulos/bienal-de-la-habana-hector-zamora-y-luisaviaroma/5204"  title="Arte y moda en la Bienal de La Habana">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/bienal_de_la_habana_hector_zamora_y_luisaviaroma_357_320x400.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Bienal de La Habana Héctor Zamora y LUISAVIAROMA" title="Bienal de La Habana Héctor Zamora y LUISAVIAROMA" width="320" height="400" />                    <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/bienal_de_la_habana_hector_zamora_y_luisaviaroma_357_320x400.jpg" alt="Bienal de La Habana Héctor Zamora y LUISAVIAROMA" title="Bienal de La Habana Héctor Zamora y LUISAVIAROMA" /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->
                        <!-- header -->
            <div class="header">
              <h4 class="section-name"><a href="/agenda/cultura" title="Cultura">Cultura</a></h4>
            </div>
            <!-- /header -->
                        <!-- footer -->
            <div class="footer">
              <h3 class="headline"><a href="/agenda/cultura/articulos/bienal-de-la-habana-hector-zamora-y-luisaviaroma/5204" >Arte y moda en la Bienal de La Habana</a></h3>

              <div class="tags"><ul><li><h3><a href="/tags/arte/100392" rel="tag">Arte</a></h3>,&nbsp;</li><li><h3><a href="/tags/cultura/100391" rel="tag">Cultura</a></h3>,&nbsp;</li><li><h3><a href="/tags/cuba/100712" rel="tag">Cuba</a></h3></ul></div>
            </div>
            <!-- /footer -->

          </li>
          <!-- /li -->
                    <!-- li -->
          <li>
            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">                 
                  <a href="/agenda/viajes/articulos/luisa-fernanda-islas-en-paris/5203"  title="El París de... Luisa Fernanda Islas">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/que_hacer_en_paris_9907_320x400.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="que hacer en paris" title="que hacer en paris" width="320" height="400" />                   <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/que_hacer_en_paris_9907_320x400.jpg" alt="que hacer en paris" title="que hacer en paris" /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->
                        <!-- header -->
            <div class="header">
              <h4 class="section-name"><a href="/agenda/viajes" title="Viajes">Viajes</a></h4>
            </div>
            <!-- /header -->
                        <!-- footer -->
            <div class="footer">
              <h3 class="headline"><a href="/agenda/viajes/articulos/luisa-fernanda-islas-en-paris/5203" >El París de... Luisa Fernanda Islas</a></h3>

              <div class="tags"><ul><li><h3><a href="/tags/paris/81" rel="tag">París</a></h3>,&nbsp;</li><li><h3><a href="/tags/viajes/100412" rel="tag">Viajes</a></h3></ul></div>
            </div>
            <!-- /footer -->

          </li>
          <!-- /li -->
                    <!-- li -->
          <li>
            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">                 
                  <a href="/vip/celebrities/galerias/celebs-estilo-off-duty/1942/image/1281293" class="new-window" title="Celebs off duty">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/celebs_estilo_off_duty_1000_320x400.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Celebs estilo off duty" title="Celebs estilo off duty" width="320" height="400" />                   <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/celebs_estilo_off_duty_1000_320x400.jpg" alt="Celebs estilo off duty" title="Celebs estilo off duty" /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->
                        <!-- header -->
            <div class="header">
              <h4 class="section-name"><a href="/vip/celebrities" title="Celebrities">Celebrities</a></h4>
            </div>
            <!-- /header -->
                        <!-- footer -->
            <div class="footer">
              <h3 class="headline"><a href="/vip/celebrities/galerias/celebs-estilo-off-duty/1942/image/1281293" class="new-window">Celebs off duty</a></h3>

              <div class="tags"><ul><li><h3><a href="/tags/celebridades/100478" rel="tag">Celebridades</a></h3>,&nbsp;</li><li><h3><a href="/tags/off-duty/100479" rel="tag">Off Duty</a></h3></ul></div>
            </div>
            <!-- /footer -->

          </li>
          <!-- /li -->
                    <!-- li -->
          <li>
            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">                 
                  <a href="/moda/tendencias/articulos/vestidos-de-verano/5202"  title="Espíritu estival: vestidos de verano">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/vestidos_de_verano_6645_320x400.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Vestidos de verano" title="Vestidos de verano" width="320" height="400" />                   <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/vestidos_de_verano_6645_320x400.jpg" alt="Vestidos de verano" title="Vestidos de verano" /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->
                        <!-- header -->
            <div class="header">
              <h4 class="section-name"><a href="/moda/tendencias" title="Tendencias">Tendencias</a></h4>
            </div>
            <!-- /header -->
                        <!-- footer -->
            <div class="footer">
              <h3 class="headline"><a href="/moda/tendencias/articulos/vestidos-de-verano/5202" >Espíritu estival: vestidos de verano</a></h3>

              <div class="tags"><ul><li><h3><a href="/tags/verano/100257" rel="tag">Verano</a></h3>,&nbsp;</li><li><h3><a href="/tags/vestidos-primavera/100098" rel="tag">Vestidos primavera</a></h3></ul></div>
            </div>
            <!-- /footer -->

          </li>
          <!-- /li -->
                    <!-- li -->
          <li>
            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">                 
                  <a href="/belleza/articulos/cabello-en-la-playa/5201"  title="Melena perfecta en la playa">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/cabello_en_la_playa_766_320x400.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Cabello en la playa" title="Cabello en la playa" width="320" height="400" />                   <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/cabello_en_la_playa_766_320x400.jpg" alt="Cabello en la playa" title="Cabello en la playa" /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->
                        <!-- header -->
            <div class="header">
              <h4 class="section-name"><a href="/belleza" title="Belleza">Belleza</a></h4>
            </div>
            <!-- /header -->
                        <!-- footer -->
            <div class="footer">
              <h3 class="headline"><a href="/belleza/articulos/cabello-en-la-playa/5201" >Melena perfecta en la playa</a></h3>

              <div class="tags"><ul><li><h3><a href="/tags/cabello/1946" rel="tag">Cabello</a></h3></ul></div>
            </div>
            <!-- /footer -->

          </li>
          <!-- /li -->
                    <!-- li -->
          <li>
            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">                 
                  <a href="/moda/tendencias/articulos/alpargatas-1/5200"  title="Alpargatas: el auténtico zapato del verano">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/alpargatas__7701_320x400.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="alpargatas " title="alpargatas " width="320" height="400" />                    <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/alpargatas__7701_320x400.jpg" alt="alpargatas " title="alpargatas " /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->
                        <!-- header -->
            <div class="header">
              <h4 class="section-name"><a href="/moda/tendencias" title="Tendencias">Tendencias</a></h4>
            </div>
            <!-- /header -->
                        <!-- footer -->
            <div class="footer">
              <h3 class="headline"><a href="/moda/tendencias/articulos/alpargatas-1/5200" >Alpargatas: el auténtico zapato del verano</a></h3>

              <div class="tags"><ul><li><h3><a href="/tags/alpargatas/100718" rel="tag">Alpargatas</a></h3>,&nbsp;</li><li><h3><a href="/tags/zapatos/100395" rel="tag">Zapatos</a></h3></ul></div>
            </div>
            <!-- /footer -->

          </li>
          <!-- /li -->
                    <!-- li -->
          <li>
            <!-- media -->
            <div class="media">
              <div class="content">
                <div class="image">                 
                  <a href="/agenda/cultura/articulos/rocio-sagaon-el-estilo-que-baila/5198"  title="Un homenaje virtual a Rocío Sagaón">
                    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201522/rocio_sagaon_el_estilo_que_baila__188_320x400.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Rocio Sagaon el estilo que baila " title="Rocio Sagaon el estilo que baila " width="320" height="400" />                   <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201522/rocio_sagaon_el_estilo_que_baila__188_320x400.jpg" alt="Rocio Sagaon el estilo que baila " title="Rocio Sagaon el estilo que baila " /></noscript>
                  </a>
                </div>
              </div>
            </div>
            <!-- /media -->
                        <!-- header -->
            <div class="header">
              <h4 class="section-name"><a href="/agenda/cultura" title="Cultura">Cultura</a></h4>
            </div>
            <!-- /header -->
                        <!-- footer -->
            <div class="footer">
              <h3 class="headline"><a href="/agenda/cultura/articulos/rocio-sagaon-el-estilo-que-baila/5198" >Un homenaje virtual a Rocío Sagaón</a></h3>

              <div class="tags"><ul><li><h3><a href="/tags/arte/100392" rel="tag">Arte</a></h3>,&nbsp;</li><li><h3><a href="/tags/cultura/100391" rel="tag">Cultura</a></h3></ul></div>
            </div>
            <!-- /footer -->

          </li>
          <!-- /li -->
                  </ul>
      </div>
      <!-- /list -->
    
    </div>
    <!-- /cols cols-320 -->
    
  </div>
  <!-- /col col-650 -->

</div>
<!-- /more-news news module -->


  
    
<!-- other-formats -->
<div class="other-formats">
  <p class="title">Descubre a Vogue en...</p>
  
  <div class="covers">
    <!--img class="lazy" src="/images/not-loaded.png" data-original="/media/bg-other-formats.jpg" width="650" height="333" alt="Descripción de la foto" title="Descripción de la foto"-->
    <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201510/vogue_mexico_marzo_2015_8804_650x333.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Vogue México - marzo 2015, réplica enriquecida, suscríbete" title="Vogue México - marzo 2015, réplica enriquecida, suscríbete" width="650" height="333" />    <noscript><img src="http://cdn.vogue.mx/uploads/images/thumbs/201510/vogue_mexico_marzo_2015_8804_650x333.jpg" width="650" height="333"></noscript>
  </div>
  
  <ul>
        <li><a href="http://www.suscripciones.condenast.com.mx/shop/frontend/web/index.php?r=catalog%2Flist&id=1"  target="_blank">Revista</a></li>
        <li><a href="https://itunes.apple.com/mx/app/revista-vogue-mexico/id894087515?mt=8"  target="_blank">Réplica enriquecida</a></li>
        <li><a href="https://itunes.apple.com/us/app/vogue-novias-mx/id927665556?l=es&mt=8"  target="_blank">Vogue novias</a></li>
        <li><a href="http://mx.zinio.com/magazine/Vogue-Mexico/pr-500665041/cat-cat1960187"  target="_blank">Zinio</a></li>
        <li><a href="/moda/estilo-vogue/articulos/libro-todo-el-universo-frida-kahlo-el-mundo-mexico-a-la-venta-en-sanborns/3315" >Todo el universo Frida Kahlo</a></li>
          
  </ul>
</div>
<!-- /other-formats -->
  </div>
  <!-- /body -->

</div>
<!-- /content -->

<!-- aside -->
<div class="aside">
  
<!-- blogs blogs -->
<div class="blogs module">

  <!-- header -->
  <div class="header">
    <p class="heading"><a href="/blogs">Blogs <strong>Vogue</strong></a></p>
  </div>
  <!-- /header -->

  <!-- content -->
  <div class="content">
  
    <!-- list -->
    <div class="list">
      <ul>
                <!-- li -->
        <li>
                    <!-- media -->
          <div class="media">
            <div class="content">
              <div class="image">
                <a href="http://blogs.vogue.mx/jenny-on-the-go/artesania-colombiana/" title="JENNY ON THE GO">
                  <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201520/artesania_colombiana_jenny_lopez_979_300x375.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Artesania colombiana Jenny Lopez" title="Artesania colombiana Jenny Lopez" width="300" height="375" />                  <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201520/artesania_colombiana_jenny_lopez_979_300x375.jpg" alt="Artesania colombiana Jenny Lopez" title="Artesania colombiana Jenny Lopez" /></noscript>
                </a>
              </div>
            </div>
          </div>
          <!-- /media -->
                    <!-- header -->
          <div class="header">
            <h4 class="blog-name"><a href="http://blogs.vogue.mx/jenny-on-the-go/">JENNY ON THE GO</a></h4>
          
            <h3 class="headline"><a href="http://blogs.vogue.mx/jenny-on-the-go/artesania-colombiana/">Artesanía colombiana</a></h3>
          </div>
          <!-- /header -->
        </li>
        <!-- /li -->
                <!-- li -->
        <li>
                    <!-- header -->
          <div class="header">
            <h4 class="blog-name"><a href="http://blogs.vogue.mx/your-mother-should-know/">YOUR MOTHER SHOULD KNOW</a></h4>
          
            <h3 class="headline"><a href="http://blogs.vogue.mx/your-mother-should-know/10-cosas-que-no-sabias-sobre-los-pantalones-acampanados/">10 cosas que no sabías sobre los pantalones acampanados</a></h3>
          </div>
          <!-- /header -->
        </li>
        <!-- /li -->
              </ul>
    </div>
    <!-- /list -->
  
  </div>
  <!-- /content -->

</div>
<!-- /blogs module -->


<!-- hr -->
<hr>
<!-- /hr -->


<!-- most module -->
<div class="most module">

  <!-- header -->
  <div class="header">
    <p class="heading"><a href="#" title="Lo Más">Lo <strong>Más</strong></a></p>
  </div>
  <!-- /header -->

  <!-- content -->
  <div class="content">

    <div class="tab-nav">
      <ul>
        <li class="seen active"><a href="#most-seen">Visto</a></li>
        <li class="recent"><a href="#most-recent">Reciente</a></li>
      </ul>
    </div>

    <div id="most-seen" class="active tab-content">
      <ol>
              <li class="item-1">
          <div class="order">1</div>
                
          <!-- media -->
          <div class="media">
            <div class="content">
              <div class="image">
                <a href="/moda/tendencias/galerias/zapatos-y-sandalias-primavera-verano-2015/3903/image/1248241"  title="Obsesión por los zapatos">
                  <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201506/zapatos_y_sandalias_primavera_verano_2015_4585_192x240.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Zapatos y sandalias primavera verano 2015" title="Zapatos y sandalias primavera verano 2015" width="192" height="240" />                  <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201506/zapatos_y_sandalias_primavera_verano_2015_4585_192x240.jpg" alt="Zapatos y sandalias primavera verano 2015" title="Zapatos y sandalias primavera verano 2015" /></noscript>
                </a>
              </div>
            </div>
          </div>
          <!-- /media -->
                    <!-- header -->
          <div class="header">
            <h3 class="headline"><a href="/moda/tendencias/galerias/zapatos-y-sandalias-primavera-verano-2015/3903/image/1248241" >Obsesión por los zapatos</a></h3>
          </div>
          <!-- /header -->
        </li>
              <li class="item-2">
          <div class="order">2</div>
                    <!-- header -->
          <div class="header">
            <h3 class="headline"><a href="/miss-vogue/galerias/street-style-model-off-duty/3481/image/1281300" class="new-window">Model off Duty</a></h3>
          </div>
          <!-- /header -->
        </li>
              <li class="item-3">
          <div class="order">3</div>
                    <!-- header -->
          <div class="header">
            <h3 class="headline"><a href="/belleza/bienestar/galerias/motivacion-para-hacer-ejercicio/3814/image/1277609" >Inspiración fitness para un cuerpo de top model</a></h3>
          </div>
          <!-- /header -->
        </li>
              <li class="item-4">
          <div class="order">4</div>
                    <!-- header -->
          <div class="header">
            <h3 class="headline"><a href="/belleza/bienestar/articulos/como-mantener-un-cuerpo-de-10/5181" >Cómo mantener un cuerpo de 10 </a></h3>
          </div>
          <!-- /header -->
        </li>
              <li class="item-5">
          <div class="order">5</div>
                    <!-- header -->
          <div class="header">
            <h3 class="headline"><a href="/moda/estilo-vogue/articulos/iconos-femeninos-en-el-cine/5192" >De la vida real a la gran pantalla</a></h3>
          </div>
          <!-- /header -->
        </li>
            </ol>
    </div>

    <div id="most-recent" class="tab-content">
      <ol>
                <li class="item-1">
          <div class="order">1</div>
                
          <!-- media -->
          <div class="media">
            <div class="content">
              <div class="image">
                <a href="/horoscopos/articulos/horoscopo-piscis/4239"  title="Piscis">
                  <img class="lazy" data-original="http://cdn.vogue.mx/uploads/images/thumbs/201439/horoscopo_piscis_3056_192x240.jpg" src="http://cdn.vogue.mx/images/transparent_pixel.gif" alt="Horoscopo Piscis" title="Horoscopo Piscis" width="192" height="240" />                 <noscript><img itemprop="image" src="http://cdn.vogue.mx/uploads/images/thumbs/201439/horoscopo_piscis_3056_192x240.jpg" alt="Horoscopo Piscis" title="Horoscopo Piscis" /></noscript>
                </a>
              </div>
            </div>
          </div>
          <!-- /media -->
                    <!-- header -->
          <div class="header">
            <h3 class="headline"><a href="/horoscopos/articulos/horoscopo-piscis/4239" >Piscis</a></h3>
          </div>
          <!-- /header -->
        </li>
              <li class="item-2">
          <div class="order">2</div>
                    <!-- header -->
          <div class="header">
            <h3 class="headline"><a href="/horoscopos/articulos/horoscopo-acuario/4238" >Acuario</a></h3>
          </div>
          <!-- /header -->
        </li>
              <li class="item-3">
          <div class="order">3</div>
                    <!-- header -->
          <div class="header">
            <h3 class="headline"><a href="/horoscopos/articulos/horoscopo-capricornio/4237" >Capricornio</a></h3>
          </div>
          <!-- /header -->
        </li>
              <li class="item-4">
          <div class="order">4</div>
                    <!-- header -->
          <div class="header">
            <h3 class="headline"><a href="/horoscopos/articulos/horoscopo-sagitario/4236" >Sagitario</a></h3>
          </div>
          <!-- /header -->
        </li>
              <li class="item-5">
          <div class="order">5</div>
                    <!-- header -->
          <div class="header">
            <h3 class="headline"><a href="/horoscopos/articulos/horoscopo-escorpion/4235" >Escorpión</a></h3>
          </div>
          <!-- /header -->
        </li>
            </ol>
    </div>

  </div>
  <!-- /content -->

</div>
<!-- /most module -->



<!-- hr -->
<hr>
<!-- /hr -->



















<!-- follow module -->
<div class="follow module">

  <!-- header -->
  <div class="header">
    <p class="heading">Sigue a <strong>Vogue</strong></p>
  </div>
  <!-- /header -->

  <!-- newsletter submodule -->
  <div class="newsletter submodule">
  
    <p class="heading">Newsletter</p>

        <div class="newsletter-subscription">
          <form action="http://vogue.us1.list-manage.com/subscribe/post?u=a0b98864a6166a37bccd1e27b&amp;id=498bb164b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" data-check-inputs="http://vogue.us1.list-manage2.com/subscribe/post-json?u=a0b98864a6166a37bccd1e27b&id=498bb164b3&c=?">
        <fieldset class="email">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email" required="required" />
        </fieldset>
        
        <fieldset class="submit">
          <input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" />
        </fieldset>
        
        <fieldset class="conditions">
          <label><input type="checkbox" required="required"> <span>Acepto recibir las comunicaciones de VOGUE, he leído y acepto el <a href="/legal/convenio-del-usuario" target="_blank">Convenio del usuario</a> así como la <a href="/legal/politicas-de-privacidad" target="_blank">Política de protección de datos</a>.</span></label>
        </fieldset>
        
        <fieldset class="feedback">
          <div class="error"></div>
        </fieldset>
      </form>
    </div>
  
  </div>
  <!-- /newsletter submodule -->

  <!-- facebook submodule -->
  <div class="facebook submodule">
  
    <p class="heading">Facebook</p>
    
    <div class="widget">
      <!-- <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fvoguemexico&width=300&height=250&colorscheme=light&connections=10&stream=false&header=false&show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:250px;" allowTransparency="true"></iframe> -->
     
  
  </div>
  <!-- /facebook submodule -->

  <!-- twitter submodule -->
  <div class="twitter submodule">
  
    <p class="heading">Twitter</p>
    
    <div class="widget">
      <script type="text/javascript">
                try {
                    var twitter_user = "VogueMexico";
                    var twitter_limit = "5";
                    var twitter_widget_id = "461408679896428544";
                } catch (e) {
                }
            </script>
            <iframe src="/javascripts/iframe-tw.html"  frameborder="0" style="border:none;  width:298px;" allowTransparency="true"></iframe>
    </div>
  
  </div>
  <!-- /twitter submodule -->

  <!-- google-plus submodule -->
  <div class="google-plus submodule">
  
    <p class="heading">Google+</p>
    
    <div class="g-plus" data-href="https://plus.google.com/+voguemexico" data-rel="publisher">&nbsp;</div>
  
  </div>
  <!-- /google-plus submodule -->

</div>
<!-- /follow module -->

</div>
<!-- /aside -->

            </div>
      <!-- /inner -->
  
      <!-- to-top -->
      <div class="to-top">
        <a href="#" class="smooth-scroll" title="Subir">Subir</a>
      </div>
      <!-- /to-top -->
    </div>
    <!-- /main -->
    
    <!-- footer -->
<div id="footer" role="contentinfo">
  <!-- footer-top -->
  <div id="footer-top" class="header">
    <!-- inner -->
    <div class="inner">
      
<!-- nav -->
<div class="nav" role="navigation">
  <ul class="first-level">
        <li><a href="/moda" title="Moda">Moda</a></li>
        <li><a href="/belleza" title="Belleza">Belleza</a></li>
        <li><a href="/pasarelas" title="Pasarelas">Pasarelas</a></li>
        <li><a href="/suzy-menkes" title="Suzy Menkes">Suzy Menkes</a></li>
        <li><a href="/joyas" title="Joyas">Joyas</a></li>
        <li><a href="/vip" title="VIP">VIP</a></li>
        <li><a href="/multimedia" title="Multimedia">Multimedia</a></li>
        <li><a href="/blogs" title="Blogs">Blogs</a></li>
        <li><a href="/agenda" title="Agenda">Agenda</a></li>
        <li><a href="/dress-for-less" title="Dress for less">Dress for less</a></li>
    
  </ul>

    
</div>
<!-- /nav -->
<!-- links-to-contents -->
<div class="links-to-contents">

  <!-- last -->
  <div class="last">
    <p class="heading"><a href="/lo-ultimo" title="Lo último">Lo último</a></p>
  
    <ul>
      <li><a href="/agenda/cultura/articulos/bienal-de-la-habana-hector-zamora-y-luisaviaroma/5204" title="Arte y moda en la Bienal de La Habana">Arte y moda en la Bienal de La Habana</a></li><li><a href="/agenda/viajes/articulos/luisa-fernanda-islas-en-paris/5203" title="El París de... Luisa Fernanda Islas">El París de... Luisa Fernanda Islas</a></li><li><a href="/moda/tendencias/articulos/vestidos-de-verano/5202" title="Espíritu estival: vestidos de verano">Espíritu estival: vestidos de verano</a></li><li><a href="/belleza/articulos/cabello-en-la-playa/5201" title="Melena perfecta en la playa">Melena perfecta en la playa</a></li><li><a href="/moda/tendencias/articulos/alpargatas-1/5200" title="Alpargatas: el auténtico zapato del verano">Alpargatas: el auténtico zapato del verano</a></li>    </ul>
  </div>
  <!-- /last -->

  <!-- tags -->
  <div class="tags">
    <p class="heading">Etiquetas</p>

    <ul>
      <li><a href="/tags/street-style/100121Zapatos" title="Street Style" >Street Style</a></li><li><a href="/tags/modelos/100188" title="Modelos" >Modelos</a></li><li><a href="/tags/chanel/351" title="Chanel" >Chanel</a></li><li><a href="/tags/karl-lagerfeld/510" title="Karl Lagerfeld" >Karl Lagerfeld</a></li><li><a href="/tags/cara-delevingne/100059" title="Cara Delevingne" >Cara Delevingne</a></li>    </ul>
  </div>
  <!-- /tags -->

  <!-- recommended -->
  <div class="recommended">
    <p class="heading">Te recomendamos</p>

    <ul>
      <li><a href="http://buff.ly/1pAtyxz" title="El adiós de Jean Paul Gaultier..." >El adiós de Jean Paul Gaultier...</a></li><li><a href="http://buff.ly/1CxOONw" title="Un nuevo día en #Paris" >Un nuevo día en #Paris</a></li><li><a href="http://buff.ly/1CvyNrp" title="El poder de la moda en París" >El poder de la moda en París</a></li><li><a href="/moda/magazine/articulos/edicion-de-aniversario-vogue-mexico-octubre-2014/4267" title="﻿﻿Edición de aniversario: Vogue México octubre" >﻿﻿Edición de aniversario: Vogue México octubre</a></li><li><a href="/vip/perfiles/articulos/gaby-aghion/4281" title="La visión Chloé según Gaby Aghion" >La visión Chloé según Gaby Aghion</a></li>    </ul>
  </div>
  <!-- /recommended -->   

</div>
<!-- /links-to-contents -->   </div>
    <!-- /inner -->
  </div>
  <!-- /footer-top -->

  <!-- footer-middle -->
  <div id="footer-middle" class="section">
    <!-- inner -->
    <div class="inner">
      <hr>

      <!-- branding -->
      <div class="branding">
        <div class="logo"><a href="/" title="Vogue México">Vogue México</a></div>
      </div>
      <!-- /branding -->

            <!-- Go to mobile version -->
            <div class="gotomobile">
                <a href="http://www.vogue.mx/?force-mobile">Ir a versión móvil</a>
            </div>
            <!-- /Go to mobile version -->

      <!-- related-sites -->
      <div class="related-sites">

        <!-- worldwide -->        
        <div class="worldwide">
          <p class="heading">En el mundo</p>
  
          <ul>
            <li><a href="http://www.vogue.co.uk/" target="_blank">Reino Unido</a></li>
            <li><a href="http://www.vogue.fr/" target="_blank">Francia</a></li>
            <li><a href="http://www.vogue.it/en" target="_blank">Italia</a></li>
            <li><a href="http://www.vogue.de/" target="_blank">Alemania</a></li>
            <li><a href="http://www.vogue.es/" target="_blank">España</a></li>
            <li><a href="http://www.vogue.ru/" target="_blank">Rusia</a></li>
            <li><a href="http://www.vogue.com.tw/" target="_blank">Taiwan</a></li>
            <li><a href="http://www.vogue.co.jp/" target="_blank">Japón</a></li>
            <li><a href="http://www.vogue.com.cn/" target="_blank">China</a></li>
            <li><a href="http://www.vogue.in/" target="_blank">India</a></li>
            <li><a href="http://www.voguelatam.com/" target="_blank">Latinoamérica</a></li>
            <li><a href="http://www.vogue.com.au/" target="_blank">Australia</a></li>
            <li><a href="http://vogue.globo.com/" target="_blank">Brasil</a></li>
            <li><a href="http://www.voguehellas.gr/" target="_blank">Grecia</a></li>
            <li><a href="http://www.style.co.kr/vogue/" target="_blank">Korea</a></li>
            <li><a href="http://www.vogue.xl.pt" target="_blank">Portugal</a></li>
            <li><a href="http://www.vogue.co.th" target="_blank">Tailandia</a></li>
            <li><a href="http://www.vogue.com.tr/" target="_blank">Turquía</a></li>
            <li><a href="http://www.vogue.com/" target="_blank">Estados Unidos</a></li>
          </ul>
        </div>
        <!-- /worldwide -->
      
      </div>
      <!-- /related-sites -->

      
<!-- social -->
<div class="social">
    <p class="heading">Síguenos en:</p>
    <ul>
    <li class="facebook"><a href="http://www.facebook.com/voguemexico?ref=ts" title="Facebook" target="_blank"><span>Facebook</span></a></li>
    <li class="twitter"><a href="http://twitter.com/VogueMexico" title="Twitter" target="_blank"><span>Twitter</span></a></li>
    <li class="pinterest"><a href="http://pinterest.com/voguemexico" title="Pinterest" target="_blank"><span>Pinterest</span></a></li>
    <li class="google-plus"><a href="https://plus.google.com/+voguemexico" title="Google+" target="_blank"><span>Google+</span></a></li>
    <li class="instagram"><a href="http://instagram.com/voguemexico" title="Instagram" target="_blank"><span>Instagram</span></a></li>
  </ul>
</div>
<!-- /social -->
    </div>
    <!-- /inner -->
  </div>
  <!-- /footer-middle -->
    
  <!-- footer-bottom -->
  <div id="footer-bottom" class="footer">
    <!-- inner -->
    <div class="inner">

      <!-- branding -->
      <div class="branding">
        <p class="heading"><a href="http://www.condenast.com.mx/" title="Condé Nast Digital. México y Latinoamérica" target="_blank"><strong>Condé Nast Digital.</strong> México y Latinoamérica</a></p>
      </div>
      <!-- /branding -->

      <!-- related-sites -->
      <div class="related-sites">

        <!-- other-sites -->
        <div class="other-sites">
          <p class="heading">Más sitios de Condé Nast Digital México:</p>
  
          <ul>
            <li class="ad"><a href="http://www.admexico.mx/" title="AD México" target="_blank">AD México</a></li>
            <li class="glamour"><a href="http://www.glamour.mx/" title="Glamour México" target="_blank">Glamour México</a></li>                       
            <li class="gq"><a href="http://www.gq.com.mx/" title="GQ México" target="_blank">GQ México</a></li>
            <li class="vanityfair"><a href="http://www.vanityfair.mx/" title="Vanity Fair México" target="_blank">Vanity Fair México</a></li>
          </ul>
        </div>
        <!-- /other-sites -->
      
      </div>
      <!-- /related-sites -->
      
      <hr>

      <!-- rights -->
      <div class="rights">© 2015 Condé Nast de México S.A. de C.V. Todos los derechos reservados</div>
      <!-- /rights -->

      <!-- corporate -->
      <div class="corporate">
        <ul>
          <li><a href="/legal/mapa-del-sitio ">Mapa de sitio</a></li>
          <li><a href="/legal/quienes-somos">Quiénes somos</a></li>
          <li><a href="http://www.suscripciones.condenast.com.mx/shop/frontend/web/index.php?r=catalog%2Flist&id=1">Suscríbete</a></li>
          <li><a href="http://www.condenastinternational.com/country/mexicolatin-america/vogue/">Media kit</a></li>
          <li><a href="http://www.condenastinternational.com/country/mexicolatin-america/vogue/">Prensa</a></li>
          <li><a href="/legal/convenio-del-usuario">Convenio del usuario</a></li>
          <li><a href="/legal/politicas-de-privacidad">Políticas de privacidad</a></li>
          <li><a href="/legal/terminos-y-condiciones">Términos y condiciones</a></li>
          <li><a href="/user/contact">Contacto</a></li>
        </ul>
      </div>  
      <!-- /corporate -->

    </div>
    <!-- /inner -->
  </div>
  <!-- /footer-bottom -->
  
</div>
<!-- /footer -->
    
        <!-- side-banners -->
    <div id="side-banners">
      <div class="left">
        <div class="banner ads" id="oreja_izquierda">
        <!-- banner saved for key /ads/1010/24/10124/100008/navigation/default --><!-- begin ad tag == tile=14 sect= == oreja_izquierda == Oreja Izquierda -->
<script language="JavaScript" type="text/javascript">

 if (typeof ord=='undefined') {ord=Math.random()*10000000000000000;}
 document.write('<script language="JavaScript" src="http://ad.mx.doubleclick.net/N5574/adj/mx.n5574.vogue/home;tile=14;dcopt=ist;sz=160x600;ord=' + ord + '?" type="text/javascript"><\/script>');


</script><noscript><a href="http://ad.mx.doubleclick.net/N5574/jump/mx.n5574.vogue/home;tile=14;dcopt=ist;sz=160x600;ord=123456789?" target="_blank"><img src="http://ad.mx.doubleclick.net/N5574/ad/mx.n5574.vogue/home;tile=14;dcopt=ist;sz=160x600;ord=123456789?" width="160" height="600" border="0" alt=""></a></noscript>
<!-- End ad tag -->
        </div>
      </div>
      <div class="right">
        <div class="banner ads" id="oreja_derecha">
        <!-- banner saved for key /ads/1010/24/10124/100009/navigation/default --><!-- begin ad tag == tile=15 sect= == oreja_derecha == Oreja Derecha -->
<script language="JavaScript" type="text/javascript">

 if (typeof ord=='undefined') {ord=Math.random()*10000000000000000;}
 document.write('<script language="JavaScript" src="http://ad.mx.doubleclick.net/N5574/adj/mx.n5574.vogue/home;tile=15;dcopt=ist;sz=160x601;ord=' + ord + '?" type="text/javascript"><\/script>');


</script><noscript><a href="http://ad.mx.doubleclick.net/N5574/jump/mx.n5574.vogue/home;tile=15;dcopt=ist;sz=160x601;ord=123456789?" target="_blank"><img src="http://ad.mx.doubleclick.net/N5574/ad/mx.n5574.vogue/home;tile=15;dcopt=ist;sz=160x601;ord=123456789?" width="160" height="601" border="0" alt=""></a></noscript>
<!-- End ad tag -->
        </div>

      </div>
    </div>
    <!-- /side-banners -->
      
  </div>
  <!-- /layout -->
<div id="fb-root"></div>
</body>
</html>